@font-face
    font-family: 'Material Icons'
    font-style: normal
    font-weight: 400
    src: url(https://fonts.gstatic.com/s/materialicons/v111/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')

.btn
    display: flex
    justify-content: flex-end
    height: 0

    .material-icons
        font-family: 'Material Icons'
        font-weight: normal
        font-style: normal
        font-size: 24px
        line-height: 1
        letter-spacing: normal
        text-transform: none
        display: inline-block
        white-space: nowrap
        word-wrap: normal
        direction: ltr
        -webkit-font-feature-settings: 'liga'
        -webkit-font-smoothing: antialiased

        position: relative
        left: -30px
        top: 30px
        color: #5bdcff
@media (max-width: 1024px)
    .btn
        display: none
        
