@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap')
@font-face
    font-family: 'Material Icons'
    font-style: normal
    font-weight: 400
    src: url(https://fonts.gstatic.com/s/materialicons/v111/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')

.container
    margin: 0 auto
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    display: flex
    align-items: center
    align-content: center
    justify-content: center
    overflow: auto
    background: linear-gradient(132.47deg,#9166d8 0%,rgba(60, 206, 214, 0.8) 100%)

    .dialog
        margin-left: auto
        margin-right: auto

        font-family: 'Poppins', sans-serif
        font-size: 14px
        line-height: 30px

        max-width: 704px
        width: 100%
        max-height: 589px
        height: 100%

        border-radius: 3px
        box-shadow: 0 10px 15px 25px rgba(0, 0, 0, 0.1),0 10px 10px 10px rgba(0, 0, 0, 0.2)
        background: url("https://digitalsurge.com.au/assets/img/landing/gradient-shape-modal.svg") no-repeat
        background-size: auto 164px
        background-color: white

@media (max-width: 1024px)
    .container
        margin: 0 auto
        width: 100%
        height: 100%
        position: fixed
        top: 0
        left: 0
        display: flex
        align-items: center
        align-content: center
        justify-content: center
        overflow: auto
        background: white

        .dialog
            margin: 0 auto

            font-family: 'Poppins', sans-serif
            font-size: 14px
            line-height: 30px

            max-width: 100vw
            width: 100%
            max-height: 100vh
            height: 100%

            border-radius: 0
            box-shadow: none
            background: url("https://digitalsurge.com.au/assets/img/landing/gradient-shape-modal.svg") no-repeat
            background-size: auto 164px
            background-color: white
