@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v111/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 167px 368px 268px 368px;
}

.container .dialog {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 30px;
  max-width: 704px;
  width: 100%;
  height: 589px;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 15px 25px rgba(0, 0, 0, 0.1), 0 10px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px 25px rgba(0, 0, 0, 0.1), 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  background: url("https://digitalsurge.com.au/assets/img/landing/gradient-shape-modal.svg") no-repeat;
  background-size: auto 164px;
  background-color: white;
}

.container .dialog .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 0;
}

.container .dialog .btn .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  position: relative;
  left: -30px;
  top: 30px;
  color: #5bdcff;
}

@media (max-width: 375px) {
  .container {
    margin: 0 auto;
  }
  .container .dialog {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 375px;
    height: 100vh;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: url("https://digitalsurge.com.au/assets/img/landing/gradient-shape-modal.svg") no-repeat;
    background-size: auto 125px;
    background-color: white;
  }
  .container .btn {
    display: none;
  }
}
/*# sourceMappingURL=block-dialog.component.css.map */