<div class="container__info">
  <div class="info">
    <span class="title__text">Portfolio repartition</span>
    <div class="statistics">
      <app-item-statistics-block-dialog
        *ngFor="let item of items"
        [item]="item"
      ></app-item-statistics-block-dialog>
    </div>
  </div>
</div>
