.container {
  max-width: 518px;
  width: 100%;
  margin: 0 auto;
}

.container .title__text {
  display: block;
  font-weight: 700;
  font-size: 1.71em;
  text-align: center;
  margin-top: 83px;
  margin-bottom: 56px;
}

.container .statistics {
  max-width: 518px;
  width: 100%;
  max-height: 327px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 375px) {
  .container {
    margin: 0 auto;
  }
  .container .title__text {
    display: inline-block;
    font-weight: 700;
    font-size: 1.7em;
    margin-top: 83px;
    margin-bottom: 56px;
    text-align: left;
  }
  .container .statistics {
    max-width: 375px;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=statistics-block-dialog.component.css.map */