.container__info
    margin: 0 auto
    width: 100%
    height: 100%
    display: flex
    align-items: flex-start
    justify-content: center
    overflow: auto

    .info
        flex-grow: 1

        .title__text
            display: block
            font-weight: 700
            font-size: 1.71em
            text-align: center
            margin-top: 83px
            margin-bottom: 56px

        .statistics
            margin-left: auto
            margin-right: auto

            max-width: 518px
            width: 100%
            max-height: 100vh
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-between

@media (max-width: 1024px)
    .container__info
        margin: 0 auto
        width: 100vw
        height: 100vh
        display: flex
        align-items: flex-start
        justify-content: center
        overflow: auto

        .info
            flex-grow: 1

            .title__text
                display: block
                font-weight: 700
                font-size: 1.71em
                text-align: center
                margin-bottom: 56px
                margin-top: 83px

            .statistics
                margin-left: auto
                margin-right: auto

                width: 100%
                height: 100%
                display: flex
                flex-direction: column
                justify-content: space-between
