@mixin before
        content: ""
        display: inline-block
        height: 17px
        border-radius: 1px
        margin-right: 5px
        vertical-align: -2.5px
        border-radius: 1px
        max-width: 130px
        box-sizing: border-box

.statistics__item
        display: flex
        justify-content: space-between
        flex-wrap: nowrap
        font-size: 1em

        .item__opacity
                opacity: 0.5

.item__name
        width: 55px
        text-align: left
        margin-right: 12px
        flex-grow: 1

.item__percent
        width: 171px
        text-align: left
        margin-right: 32px
        flex-grow: 2

.au
        @include before
        background: linear-gradient(132.47deg,#9166d8 0%,rgba(60, 206, 214, 0.8) 100%)
        color: #9166d8
.btc
        @include before
        background: #fa8e00
.eth
        @include before
        background: #9166d8
.xpr
        @include before
        background: #333333
.btc_ca
        @include before
        background: #8dc351
.ltc
        @include before
        background: #a6a8a9
.xtz
        @include before
        background: #2c7df7
.eos
        @include before
        background: #000000
.link
        @include before
        background: #1b63d1
.dash
        @include before
        background: #048ce7
.eth_cl
        @include before
        background: #17de8d

.item__conversation
        width: 74px
        text-align: right
        margin-right: 23px
        flex-grow: 1

.item__coin
        width: 131px
        text-align: left
        flex-grow: 1

@media (max-width: 1024px)
        .container__item
                margin: 0 auto
                width: 100%
                height: 100%
                display: flex
                align-items: flex-start
                justify-content: center

                .statistics__item
                        display: flex
                        justify-content: center
                        flex-wrap: wrap
                        font-size: 1em
                        width: 100vw

                .item__opacity
                        opacity: 0.5

                .item__name
                        width: 55px
                        text-align: left
                        margin-right: 12px
                        flex-grow: 1
                .item__percent
                        width: 171px
                        text-align: left
                        margin-right: 32px
                        flex-grow: 2
                .item__conversation
                        text-align: left
                        width: 75px
                        margin-right: 23px
                        flex-grow: 1
                .item__coin
                        width: 131px
                        text-align: left
                        flex-grow: 1
