.statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1em;
  text-transform: uppercase;
}

.au {
  color: #9166d8;
}

.item__opacity {
  opacity: 0.5;
}

.item__name {
  width: 60px;
  text-align: left;
  margin-right: 12px;
}

.item__percent {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 171px;
  text-align: left;
}

.item__percent.au:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 54px;
  background: linear-gradient(132.47deg, #9166d8 0%, rgba(60, 206, 214, 0.8) 100%);
}

.item__percent.btc:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 141px;
  background: #fa8e00;
}

.item__percent.eth:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 124px;
  background: #9166d8;
}

.item__percent.xpr:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 103px;
  background: #333333;
}

.item__percent.btc_ca:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 84px;
  background: #8dc351;
}

.item__percent.ltc:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 71px;
  background: #a6a8a9;
}

.item__percent.xtz:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 46px;
  background: #2c7df7;
}

.item__percent.eos:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 62px;
  background: #000000;
}

.item__percent.link:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 36px;
  background: #1b63d1;
}

.item__percent.dash:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 29px;
  background: #048ce7;
}

.item__percent.eth_cl:before {
  content: "";
  display: inline-block;
  height: 17px;
  border-radius: 1px;
  margin-right: 5px;
  vertical-align: -2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 17px;
  background: #17de8d;
}

.item__conversation {
  text-align: right;
  width: 75px;
  margin-right: 25px;
}

.item__coin {
  width: 135px;
  text-align: left;
}

@media (max-width: 375px) {
  .statistics__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .statistics__item .item__opacity {
    opacity: 0.5;
  }
  .statistics__item .item__name {
    width: 60px;
    text-align: left;
  }
  .statistics__item .item__percent {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    width: 200px;
    text-align: left;
  }
  .statistics__item .item__conversation {
    text-align: left;
    width: 75px;
    margin-right: 0;
  }
  .statistics__item .item__coin {
    width: 135px;
    text-align: left;
  }
}
/*# sourceMappingURL=item-statistics-block-dialog.component.css.map */