<div class="container__item">
  <div class="statistics__item ">
    <div class="item__name">{{item.name}}</div>
    <div class="item__percent"><span class="{{item.class}}" style="width:{{item.percent}}%"></span>{{item.percent}}%</div>
    <div class="item__conversation">
      <span class="item__opacity">{{item.mainname}}</span>{{item.conversation}}
    </div>
    <div class="item__coin">{{item.coin}} <span class="item__opacity">{{item.fullname}}</span></div>
  </div>
</div>
